@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root {
    /* Background Color */
    --primary-color: #E58411;
    --secondary-color: #B4D6CD;
    --dark-color:#0D1B39;
    --bg-light-blue:#B4D6CD ;
    --bg-dark: #666;
    --bg-white: #fff;
    --light-primary:#FAF3EA;
    --section-padding: 60px;
}
/* global */
/* start component */
.spicial-heading {
  color: #ebeced ;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.spicial-heading +P{
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 768px) {
  .spicial-heading {
    font-size: 60px;
  }
  .spicial-heading +P{
    margin-top: -20px;
  }
}
/* end component */
body {
  background-color: var(--bg-white);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    width: 340px;
  }

}
@media (max-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}

/* -------------- */
.header {
        padding: 12px;
    }
  .logo1 {
    width: 78px;
    height: 35px;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .links {
    position: relative;
  }
  .header .links:hover .icon span:nth-child(2) {
    width: 100%;
  }
  .header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .header .links .icon span {
    background-color: var(--bg-dark);
    margin-bottom: 5px;
    height: 3px;
  }
  .header .links .icon span:first-child {
    width: 100%;
  }
  .header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s ease ease-in-out;
  }
  .header .links .icon span:last-child {
    width: 100%;
  }
  .header .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--dark-color);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 5;
  }
  .header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    position: absolute;
    right: 5px;
    top: -15px;
    display: flex;
  }
  .header .links ul li {
    border-bottom: 1px solid var(--bg-dark);
    background-color: #F7F7F7;
  }
  .header .links:hover ul {
    display: block;
  }
  .header .links ul li a {
    display: block;
    padding: 15px;
    color: var(--bg-dark);
    transition: 0.3s ease ease-in-out;
    text-decoration: none;
  }
  .header .links ul li a:hover {
    padding-left: 25px;
    color: black;
    background-color: var(--primary-colork);
  }
  .header .links ul li:not(:last-child) a {
    border-bottom: 1px solid var(--primary-color);
  }

/* landing */
.landing {
  background-image: url("../images/top-banner-img/Rectangle1441.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  height: calc(100vh - 60px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left:50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  color: white;
  font-weight: bolder;
  padding-bottom: 10px;
  width: 97%;
  font-size: 40px
}
.landing .intro-text p {
 font-size: 19px;
 line-height: 1.8;
 color:var(--bg-white);
}
/* feature */
.feature{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--light-primary);
}
.why-word{
 text-align: start;
  font-size: 36px;
  font-weight: bold;
  margin-left: 60px;
}
@media (max-width: 768px) {
  .why-word{
    text-align: center;
    margin-left: 0;
  }
}
.feature .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.feature .feat{
  padding: 20px;
  text-align: center;
}
.feature .feat i{
  color: var(--primary-color);
}
.feature .feat h3{
  font-weight: bold;
  margin: 20px 0;

}
.feature .feat p{
  line-height: 1.8;
  color: var(--bg-dark);
  font-size: 17px;
}
/* feature */

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.Furniture-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 100px;
}
.srv i{
  color: var(--primary-color);
  flex-basis: 60px;
}
.srv{
  display: flex;
  margin-bottom: 40px;
}
.srv .srv-text{
  flex: 1;
}
.srv .srv-text h3{
  font-weight: bold;
  margin: 0 0 20px;
}
.srv .srv-text p{
  line-height: 1.6;
  color: var(--bg-dark);
  font-weight: 300px;
}
@media (max-width: 768px) {
  .srv{
    flex-direction: column;
    text-align: center;
  }
}
.imagg{
  position: relative;
  text-align: center;
}
.imagg::before {
  content: "";
  background-color: var(--primary-color);
  width: 90px;
  height: calc(100% + 70px);
  position: absolute;
  top: -40px;
  left: -30px;
  z-index: -1;
  /* border-radius: 20px; */
  
}
#image {
  width: 350px;
}
@media(max-width: 1199px) {
  .imagg{
    display: none;
    width: 0;
    height: 0;
}
}

/* end feature */
/* testimonials */
.testimonials{
  padding-top:var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #F7F7F7;
}
.testimonials .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}